PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/nexus_institute_db?retryWrites=true&w=majority
SESSION_SECRET=nexus_cyber_secret_key_2026_super_secure
